/*
 ************************************************************
 * HTML tag level settings
 ************************************************************
 */
A:link {text-decoration:none; color:#3150b2; }
A:visited {text-decoration:none; color:#3150b2; }
A:active {text-decoration:none; color:#3150b2; }
A:hover {text-decoration:underline; color:#3399CC; }

body {
  font-family:"Verdana", "Arial", "Helvetica", sans-serif;
  font-style:normal;
  font-weight:normal;
  word-spacing:normal;
  color:#111111;
  background:#fffff6;
  margin:0px;
}

/*
 ************************************************************
 * general class and id formatting
 * padding: top right bottom left, or topbottom leftright
 ************************************************************
 */

#logodiv { position:absolute; left:0px; top:25px; }
#titlediv { position:absolute; left:0px; top:0px; padding:0px 10px; }
#topdiv { position:absolute; left:0px; top:12px; padding:0px 10px;
  text-align:right; font-size:x-small; }
#appspacediv { position:absolute; left:0px; top:0px; 
  padding:15px 40px 40px 72px; }
#bottomnav { font-size:x-small; text-align:center; 
  word-spacing:20px; padding:0px 20px; }
#logotitle { 
  font-size:x-large;
  font-weight:bold;
  letter-spacing:1px;
  color:#2f478e;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
/* padding in chead compensates for relative offset of acthdiv, revhdiv */
#chead { text-align:center; font-size:large; text-shadow: -1px -1px 1px #fff; 
  padding:0px 0px 20px 0px; }
#penhnamespan { font-style:italic; font-size:x-large;
  font-family:"Palatino Linotype", "Book Antiqua", "Palatino", serif;
 }
#acthdiv, #revhdiv {
  background:#ddd url('../img/navlinkback.png') repeat; 
  border: 1px solid #ddd; border-radius:5px; 
  box-shadow: 2px 2px 2px #888;
  padding:0px 5px; position:relative; top:20px; }
#acthdiv { float:left; }
#revhdiv { float:right; }
#cmain { clear:both; padding: 8px 0px 0px 0px; }
#overlaydiv { position:absolute; left:70px; top:80px; padding: 10px;
  visibility:hidden; border-radius:10px; max-width:85%;
  box-shadow:10px 10px 5px #888888; border: 1px solid #666666; }
#dlgdiv { position:absolute; left:70px; top:30px; padding:10px 20px;
  background:url('../img/dlgback.png') repeat, #eeeeee url('../img/dlgtop.png') repeat-x;
  visibility:hidden; border-radius:10px; max-width:85%;
  box-shadow:10px 10px 5px #888888; border: 1px solid #666666; }
#closeline { text-align:right; font-size:x-small; }
.navico { height:20px; width:20px; margin:0px 10px; border=none; }

/* profile layout */
#proftopdiv { }
#profshouttd { padding: 0px 10px; }
#profcitytd { font-size:small; padding: 0px 10px 5px 10px; }
.profpic { width:125px; height:125px; }
.shoutout { width:200px; height:80px; 
  font-family:"Verdana", "Arial", "Helvetica", sans-serif;
  font-size:small; }
#proftabsdiv ul { list-style:none; padding:0; margin:0; }
#proftabsdiv ul li { display:inline; 
  border-top-left-radius:5px; border-top-right-radius:5px;
  border-top:  1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
 }
#proftabsdiv a { padding: 0 1em; }
.unselectedTab { border-bottom: 1px solid #666; }
.headingtxt { font-size:large; font-weight:bold; text-align:center; }
