/*
 ************************************************************
 * HTML tag level settings
 ************************************************************
 */
A:link {text-decoration:none; color:#3150b2; }
A:visited {text-decoration:none; color:#3150b2; }
A:active {text-decoration:none; color:#3150b2; }
A:hover {text-decoration:underline; color:#3399CC; }

body {
  font-family:"Verdana", "Arial", "Helvetica", sans-serif;
  font-style:normal;
  font-weight:normal;
  word-spacing:normal;
  color:#111111;
  background:#fffff6;
  margin:0px;
}

/*
 ************************************************************
 * class and id formatting
 * padding: top right bottom left, or topbottom leftright
 ************************************************************
 */

#logodiv { position:absolute; left:0px; top:25px; }
#titlediv { position:absolute; left:0px; top:0px; padding:0px 10px; }
#topdiv { position:absolute; left:230px; top:0px; padding:5px 10px;
  text-align:right; font-size:x-small; }
#appspacediv { position:absolute; left:0px; top:0px; 
  padding:30px 40px 40px 72px; }
#bottomnav { font-size:x-small; word-spacing:20px; padding:0px 20px; }
#logotitle { 
  font-size:x-large;
  color:#2f478e;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
#dlgdiv { position:absolute; left:70px; top:30px; padding:10px 20px;
  background:url('../img/dlgback.png') repeat, #eeeeee url('../img/dlgtop.png') repeat-x;
  visibility:hidden; border-radius:10px; max-width:85%;
  box-shadow:10px 10px 5px #888888; border: 1px solid #666666; }
#closeline { text-align:right; font-size:x-small; }
