/*
 ************************************************************
 * HTML tag level settings
 ************************************************************
 */

A:link {text-decoration:none; color:#84521a; }
A:visited {text-decoration:none; color:#84521a; }
A:active {text-decoration:none; color:#84521a; }
A:hover {text-decoration:underline; color:#a05705; }

html {
  min-height: 100%; margin:0; padding:0;
}

body {
  font-family: "Open Sans", "Verdana", "Arial", "Helvetica", sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size:large;
  word-spacing:normal;
  margin:0px;
  color:#111111;
  height: 100%;
  background-image: url('../img/sbg/00pic.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

img { border:0px; vertical-align:middle; }

button, .loginbutton, .formbutton, .filesellab { 
  border:1px solid #271400; border-radius:5px; cursor:pointer;
  background:#ffd2a4; box-shadow:1px 1px 1px #999999; }

/*
 ************************************************************
 * general class and id formatting
 * padding: top right bottom left, or topbottom leftright
 ************************************************************
 */

/* >> topsectiondiv and contained elements */
#topsectiondiv { margin:0px 0px 2px 0px; }
#topleftdiv { float:left; border-radius:20px; }
#logodiv { display:inline-block; margin:0; }
#logodiv, #logoimg { width:78px; height:78px; }
#infoimg { width:18px; height:18px; padding:2px 10px 0px 5px; 
           transition:opacity 2s; }
#topactionsdiv { display:none; vertical-align:top; 
                 margin:0px 0px 0px -10px;
                 padding:0px 0px 10px 5px;
                 background-color:#ddd; 
                 border-top-right-radius:10px;
                 border-bottom-right-radius:10px; }
#toprightdiv { float:right; 
               padding:0px 2px 2px 0px; 
               margin:2px 0px 2px 0px;
               background-image:url('../img/e6e7e9p80.png');
               border-radius:20px; }
#loginstatdiv, #formstatdiv, .formstatdiv { font-size:small; }
#loginstatdiv { text-align:right; }
#loginstatformdiv { padding:0px 5px; }
.loginstatspan { background-image:url('../img/e6e7e9p80.png'); 
                 font-size:small; }
#logindiv p { padding:3px 10px; }
.revtypesdiv { display:inline-block; padding:10px 0px 0px 0px;
               transition:opacity 1s; 
               padding:2px 0px 5px 0px; }
.typeselect, .tablink, .tablinksel { 
  margin:0px 3px; padding:0px 0px 2px 0px;
  background-color:#e6e7e9; opacity:0.8; border-radius:10px; }
.typeselect { background-color:transparent; }
.tablinksel { background-color:#ffae50; }
#headingdiv { }
#headingdivcontent { width:288px; margin:auto; }
#loadstatusdiv { background-image:url('../img/e6e7e9p80.png'); }
#sysnoticediv { font-size:small; }
#topnavdiv { background-image:url('../img/e6e7e9p80.png'); font-size:small;
  display:table; margin:0 auto; padding:0px 5px 0px 0px; }
.navimg { max-height:28px; }

/* >> main display area and contained elements */
.collapse { border-collapse:collapse; }
#topdiv { position:absolute; left:0px; top:45px; padding:0px 10px;
  text-align:right; font-size:x-small; }
#appspacediv { margin:0px 5px; clear:both; }
.sitemetalinksdiv { font-size:xx-small; text-align:center; overflow:hidden;
  word-spacing:35px; padding:20px 0px 0px 0px; }
#bottomnav { font-size:xx-small; text-align:center; overflow:hidden;
  word-spacing:20px; padding:0px 20px 5px 20px;
  position:fixed; left:0px; bottom:0px; height:30px; width:90%; }
#bottomstatdiv { height:15px; overflow:hidden; }
.unselectedTab { background:#789897; 
  background:-moz-linear-gradient(left top, #789897 0%, #8cb3b2 100%);
  background:-webkit-linear-gradient(left top, #789897 0%, #8cb3b2 100%); }
#contentdiv { }
.penfont, .penflist { 
  font-family:"Shadows Into Light Two", cursive; font-size:x-large; font-weight:bold; }
.penflist { font-size:medium; }
.penbutton { padding-right:12px; vertical-align:top; }
#bonkmain { clear:both; padding:10px; background:#ed8f8f; }
#overlaydiv { position:absolute; left:70px; top:80px; padding: 10px;
  visibility:hidden; background:#ffad51; 
  background:-moz-linear-gradient(left top, #ffdab1 0%, #ffad51 100%);
  background:-webkit-linear-gradient(left top, #ffdab1 0%, #ffad51 100%);
  border-radius:10px; max-width:85%; border: 1px solid #666666; 
  box-shadow:10px 10px 5px #888888; }
#dlgdiv { position:absolute; left:10px; top:60px;
  visibility:hidden; 
  max-width:95%;
  padding:1px;
  background-color: #666;
  border-top-left-radius: 210px 20px;
  border-bottom-right-radius: 210px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #999; 
  box-shadow:3px 3px 2px #888888; }
#dlgborderdiv {
  padding:4px;
  background-color: #fff;
  background-image: url('../img/dlgborder.png');
  border-top-left-radius: 210px 20px;
  border-bottom-right-radius: 210px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#dlginsidediv {
  padding:4px;
  background: #fcf4eb;
  background:-moz-linear-gradient(left top, #fcf4eb 0%, #ffdbb3 100%);
  background:-webkit-linear-gradient(left top, #fcf4eb 0%, #ffdbb3 100%);
  border-top-left-radius: 210px 20px;
  border-bottom-right-radius: 210px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#xtrabsdiv { position:absolute; left:70px; top:80px; visibility:hidden; 
             padding:10px; }
#closeline { text-align:right; font-size:x-small; }
.dlgclosex { float:right; font-size:x-small; }
.floatclear { clear:both; }
.rssico { height:11px; width:11px; vertical-align:middle; padding:0px 5px;}

/* >> intro layout */
/* padding:4px 2px 0px 2px; makes the "Keywords" entry in the membic
dialog look ok, but breaks the Email input in the invite dialog. */
.liflab { font-size:medium; font-weight:normal; text-align:right; 
  padding:0px 2px 0px 2px; display:block; float:left; width:80px; }
.overlab { font-size:small; padding:10px 0px 0px 2px; }
.lifin { padding:0px; font-size:small; width:145px; }
.lifsep { clear:both; }
.lifbuttonsdiv { text-align:center; }
.accstatvalspan { font-size:small; font-style:italic; padding:0px 4px 0px 0px; }
#accstatdetaildiv { font-size:small; padding:5px 5px 0px 5px; }
#buttonornotespan { font-size:small; }
#resetpassdiv { font-size:small; text-align:center; padding:0px 0px 4px 20px; }
#resetpw { }
#accountsettingsformdiv { }

/* >> profile/coop display */
#pcdcontdiv { padding:5px 0px 10px 0px; }
#pcdpicdiv { width:110px; height:110px; padding:0px 5px 2px 0px; float:left; }
.pcdpic { max-width:110px; max-height:110px; }
#pcddescrdiv { height:110px; overflow:auto; }
#pcdouterdiv { position:relative; }
#pcduppercontentdiv { background:#e6e7e9; opacity:0.9; border-radius:10px; }
#pcdnamediv { padding-top:5px; }
#pcdnamespan { margin-right:5px; }
#pcdsettingslink { }
#pcdshoutdiv { padding:0px; font-size:small; overflow:auto; }
#pcdhashdiv { font-size:small; font-family:monospace; padding-top:10px; }
#pcdctrldiv { clear:both; }
.unselectedTab { border-bottom: 1px solid #666; }
#pcdactdiv { }
#pcdacsharediv { float:left; }
#pcdacsrchdiv { display:inline-block; }
#pcdacemdiv { float:right; }
#pcdactcontentdiv { font-size:small; text-align:center; padding:0px 5px; 
  background:#e6e7e9; opacity:0.9; border-radius:10px 10px 0px 0px; }
#downloadlink { background-image: url('../img/whitewash.png'); }
.dloptseldiv { background-image: url('../img/whitewash.png'); }
#pcdkeysrchdiv, #pcdtypesrchdiv, #pcdsharediv { 
  background:#e6e7e9; opacity:0.8; clear:both; }
#pcdtypesrchdiv { opacity:0.9; }
.srchkwrbdiv { display:inline-block; width:100px; 
  font-size:small; background-image: url('../img/whitewash.png'); 
  margin:1px; border-radius:6px; overflow:visible; }
.skbidiv { float:left; }
.srchkwrbdiv label { display:inline-block; margin:0px; padding:0px; 
  width:48px; overflow:visible; }
#createctmdiv { font-size:medium; background-color:#f9f9fc; }
.formbuttonsdiv { text-align:center; padding:10px; }
.pcdsectiondiv { background-image: url('../img/whitewash.png'); 
  margin:0px 0px 10px 0px; padding:0px 4px; }
.pcdsectiondiv ul { list-style:none; margin:0; padding:0 0 0.5em 1em; }
.formline, .memlistdiv { clear:both; font-size:medium; 
  /* no padding or the display gets ugly due to empty formlines */
  width:260px; } /* balance dlgta width */
.keydefin { width:220px; } /* dlgta - reviewbadge - pad */
.fieldexpdiv { font-size:small; padding:5px; }
.kwcsvspan { font-size:x-small; }
.kwcsvlabel { font-weight:bold; padding-right:4px; }
.kwhelpdlg { font-size:small; }
#memlevspan { font-size:medium; font-weight:bold; padding-left:5px; }
#ctminfoseldiv { display:inline-block; margin-left:20px; width:50px; }
#meminfoseldiv, #statsdiv { display:inline-block; width:50px; }
#settingsinfolinediv { padding-bottom:8px; padding-top:2px; }
.ctmsetimg, .myinfoimg { vertical-align:middle; }
.myinfoimg { width:18px; height:18px; margin-right:5px; }
#midispdiv { max-height:200px; overflow:scroll; }
.adminlogentrydiv { font-size: medium; }
.logdatestampspan { font-size:small; font-family:monospace; }
.memberlistlinediv { margin:0px 0px 5px 0px; }
.memberlistnamespan { padding-left:5px; }
.memberlistprofpic { width:50px; }
.errdiv { font-size:small; }
.mailindesctable { font-size:small; margin-left:16px; }
.mailindesctable tbody tr td { text-align:right; }
.mailindesctable tbody tr td:nth-child(odd) { padding-right:10px; }
.mailindesctable tbody tr td:nth-child(even) { text-align:left; }

/* >> profile layout */
.reviewbadge, .reviewbadgesel { 
  width:30px; height:30px; vertical-align:middle; }
.reviewbadgesel { background:#ffae50; border-radius:8px; 
  background:-moz-linear-gradient(left top, #ffae50 0%, #ffceb0 100%);
  background:-webkit-linear-gradient(left top, #ffae50 0%, #ffceb0 100%); }
#shouteditbox { text-align:left;
  font-family:"Open Sans", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size:small; }
.headingtxt { font-size:large; font-weight:bold; text-align:center; }
.bumpedupwards { margin-top:-18px; margin-bottom:6px; }
.revtitle { font-size:large; font-weight:bold; }
.secondaryfield { font-style:italic; }
.revimg, .revimgdis { max-width:125px; max-height:80px; }
.profimgdis { max-width:125px; max-height:125px; }
.revimgdis, .profimgdis { opacity:0.3; filter:alpha(opacity=30); }
.webjump { width:20px; height:20px; vertical-align:middle; border:none; }
.buttondiv { padding:0px 5px; font-size:large; }
.starsimg { vertical-align:middle; }

/* >> coop layout */
.tdnarrow { width:5%; padding:0px 5px 0px 0px; }
.dlgbuttonsdiv { text-align:center; padding:20px 0px 10px 0px; }
.dlgbuttonsdiv button { margin:0px 10px; }
.inlinebuttonsdiv { text-align:center; padding:0px 0px 10px 0px; }
.inlinebuttonsdiv button { margin:0px 10px; }
.dlgta { width:260px; height:80px; padding:5px 2px; overflow:auto; }
.dlgpara { width:260px; font-size:small; }
#uploadbuttonsdiv { text-align:center; padding:0px 0px 5px 0px; }
.inlineimg { vertical-align:middle; padding:0px 4px; }
.setpldlgmspan { font-weight:bold; }
.setpldlgta { width:90%; padding:10px 5px 0px 5px; margin:10px 0px 5px 0px; }
#dloptseltitlediv { font-size:large; font-weight:bold; text-align:center; }
.dloptseldiv { min-width:100px; padding:10px 10px 2px 2px; }
.dlformatlabel { font-size:medium; padding-left:10px; }
#downloadactiontextspan { font-size:large; }
#downloadactiondiv { min-width:150px; text-align:center; padding:20px; }

/* >> review layout */
#revdlgdiv { }
#rdurlbuttonspan { font-size:x-small; }
#rdurlbutton { margin:0px 0px 0px 3px; }
#rdstat1 { clear:both; }
#rdtypesdiv { width:288px; margin:auto; padding:0px 0px 0px 0px; }
#rdtypepromptdiv { font-size:small; text-align:center; color:#999; }
#rdkeyindiv { padding:0px 0px 10px 0px; }
#rdacdiv { float:right; width:50px; background:url('../img/rdaclab.png'); }
#rdaccb { margin:0px 0px 0px 5px; }
#rdpfdiv { padding:0px 0px 5px 0px; }
#rdpicdiv { float:left; margin:0px 5px 0px 0px; width:125px; height:125px; 
  cursor:pointer; overflow:hidden; }
#rdstarsdiv { display:inline-block; height:35px; }
.rdfindiv { padding:0px 0px 6px 0px; }
#rdtextdiv { clear:both; padding:5px 0px 0px 0px; }
#rdta { width:275px; height:80px; padding:3px; overflow:auto;
  font-family:"Open Sans", "Verdana", "Arial", "Helvetica", sans-serif; 
  font-size:small; background-color:#fff; }
#rdkwcbsdiv, .ctmkwdiv { width:260px; margin:auto; overflow:auto; }
.rdkwcbdiv { display:inline-block; width:130px; font-size:small; 
  padding:0px 0px 10px 0px; }
.rdctmdiv { padding:0px 0px 8px 0px; }
.rdglpicdiv { float:left; width:40px; overflow:hidden; margin:0px 2px 0px 5px; }
.rdglpic { vertical-align:middle; max-width:40px; max-height:40px; 
  font-size:small; }
#rdokstatdiv { color:red; }
#revautodiv { clear:both; font-size:small; width:275px; }
#revautodiv ul { list-style-image:url('../img/acbullet.png'); }
#modalseparatordiv { position:absolute; left:0px; top:0px; 
  background-color:#666666; opacity:0.3; filter:alpha(opacity=30); }
#revpicdlgdiv { width:220px; }
.revpictypelist { list-style:none; padding:0px 0px 10px 0px; margin:0; }
.ptddiv { display:inline-block; position:relative; vertical-align:top;
  width:125px; height:125px; margin:5px; background:#ffeac2; }
.overform { position:absolute; top:0px; left:0px; width:125px; }
.picsideform { position:absolute; top:10px; left: 134px; width: 130px; }
.picsideformbuttonsdiv { padding:0px 5px; }
.hidefilein { width: 0.1px; height: 0.1px; /* zero is unreliable */
  position: absolute; /* avoid layout interference with other elements */
  opacity: 0; overflow: hidden; z-index: -1; } /* hide it */
.filesellab, .filesellab2 { padding:0px 5px; font-size:small; cursor:pointer; }
.ptdlabspan { font-size:medium; }
#ptdfdiv { padding:5px; }
#ptduploadbuttonsdiv { text-align:center; padding:15px 0px 5px 0px; }
#pdtfbuttondiv { padding:10px 0px 5px 0px; }
#rdokdiv { clear:both; }
.revedimg { max-height:28px; padding:0px 0px 0px 16px; }

/* >> activity layout */
.fpcontdiv { margin:0px 0px 8px 0px; padding:0; }
.fpdiv { clear:both; padding:0; margin:0; min-height:100px;
         background-color:#e6e7e9; opacity:0.98; border-radius:10px; }
.fpprofdiv, .fpprofdivsp { display:inline-block; width:50px; height:80px; 
  overflow:hidden; float:left; padding-top:20px; }
.fpprofdivsp { margin-right:5px; padding:0; max-height:50px; }
.fpprofpic { max-width:50px; max-height:60px; vertical-align:middle; }
.fparevdiv { }  /* had a left margin to accomodate author, now inline */
.fpnarevdiv { }
.fpinrevdiv { margin:0px 0px 0px 5px; }
.fpinrevdiv { background-image:url('../img/bleachscrub.png');
    border-top-right-radius:10px; border-bottom-right-radius:10px; 
    position:relative; }
.fpbodydiv { overflow:auto; padding:0px 3px 3px 3px; }
.fprevpicdiv, .notimgdiv { float:left; padding:0px 10px 0px 3px; }
.noticeimg { height:40px; }
.noticediv { clear:both; min-height:40px; opacity:0.8; }
.fptitlediv { display:inline-block; padding:0px 10px 0px 5px; }
.fpstarsdiv { display:inline-block; }
.fpauthpicdiv { float:right; }
.authpicimg { max-height:40px; }
.fpsecfieldsdiv { margin-left:35px; /* reviewbadge + fptitlediv */
  font-size:x-small; }
.fpdatediv { margin-left:5px; font-size: xx-small; }
.fpdcontdiv { position:relative; }
.fpqoverdiv { position:absolute; top:0px; left:40px; 
  background-image:url('../img/bleachscrub.png');
  font-style:italic; font-size:medium; font-weight:bold; }
.fpdescrdiv, .fpkeywrdsdiv, .fpctmsdiv { 
  font-size:small; padding: 2px 10px 0px 2px;
  font-family:"Open Sans", "Verdana", "Arial", "Helvetica", sans-serif; }
.fpctmlinkslab { font-style:italic; }
.fpkeywrdsdiv { font-style:italic; }
.togglemoretextspan { background:#ccc; }
#membicliststatusdiv { background:#e6e7e9; opacity:0.8; border-radius:10px; }

/* >> docs layout */
.defcontentsdiv { display:table; margin:auto; padding:20px; }
.defcontentinnerdiv { border:5px solid black; padding:20px;
  background-image:url('../img/e6e7e9p80.png'); }
.defsyllabicdiv { font-weight:bold; }
.defpartofspeachdiv { font-style:italic; font-size:medium; padding:5px; }

/* >> themes page layout */
.tplinkdiv { background-image:url('../img/e6e7e9p80.png'); clear:both; 
  margin:5px 0px; padding:1px 5px; min-height:90px; border-radius:5px; }
.tplinkpicdiv { float:left; margin-right:5px; min-width:90px; 
  position:relative; text-align:center; }
.tplinkpicimg { max-width:90px; max-height:90px; }
.tpmemlink { position:absolute; top:0px; right:0px; }
.tplinkdescdiv { max-height:80px; overflow:scroll; }
.tplinknamespan { margin-right:5px; }
.thlexdiv { font-size:medium; }
/* FF thinks th values should be bold, no matter what you say here. */
.thlextable, .thlhelpdiv { margin:0 auto 0 10%; }
.thlextable thead { font-size:small; font-style:italic; opacity:0.5; }
.thlextable tbody tr td { text-align:center; }
.thlextable tbody tr td:nth-child(odd) { padding-right:10px; }
.thlextable tbody tr td:nth-child(even) { text-align:left; }
.thlhelpdiv { font-size:small; padding-bottom:7px; display:table }
.moreinfospan { font-size:small; padding-left:20px; }


/* >> share buttons */
/* thanks to https://sharingbuttons.io */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--rss { 
  background-color:#fec27f; border-color:#fec27f; }
.resp-sharing-button--rss:hover,
.resp-sharing-button--rss:active { 
  background-color:#ffb664; border-color:#ffb664; }
