body {
  background-color: #67e8da;
  background: linear-gradient(#67e8da 60%, #8dfff3);
}

.unselectedTab { background:#07766a; }
.fpinrevdiv { background-color: #e1fffc; }

A:link {text-decoration:none; color:#0b423c; }
A:visited {text-decoration:none; color:#0b423c; }
A:active {text-decoration:none; color:#0b423c; }
A:hover {text-decoration:underline; color:#36b588; }
