body {
  background-color: #837069;
  background: linear-gradient(#837069 90%, #330000);
}

.unselectedTab { background:#7c5a4f; }
.fpinrevdiv { background-color: #ab9d98; }

A:link {text-decoration:none; color:#3a0f00; }
A:visited {text-decoration:none; color:#3a0f00; }
A:active {text-decoration:none; color:#3a0f00; }
A:hover {text-decoration:underline; color:#7c341b; }

#headingdivcontent { display:none; }

